@media (max-width: 1200px) {
  .tabela {
    margin-left: 20px;
  }
  .container {
    width: 90%;
  }
}


@media (max-width: 992px) {
  .container {
    width: 90%;
    flex-wrap: wrap;
  }
  .trans-container {
    
    width: 800px;
    height: 190px;
}

  .trans-container h2 {
    font-size: 18px;
}
.form {
  flex-direction: row;
}
.form input {
  width: 80%;
}
.grow1 input {
  display: flex;
	flex-grow: 1;
  margin-top: 10px;
}
.grow2 input {
  width: 300px;
  display: flex;
  flex-grow: 2;
  margin-top: 10px;
}
.form button {
  position: absolute;
  top: 44%;
  left: 64%;
  width: 200px;
}
}

@media (max-width: 768px) {

.tabela {
  margin-left: 0px;
  margin: 10px
}
.logo h1 {
  margin-left: 160px;
}
}

@media (max-width: 720px) {
  .trans-container {
    border: none;
    margin-bottom: 130px;
  }
  .form {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
  }
  .form button {
    position: inherit;
    width: 500px;
  }
  .form input {
    width: 500px;
  }
}

@media (max-width: 600px) {
  .titulos :nth-child(2) {
    margin-left: 300px;
    }
  .form button {
    position: inherit;
    width: 300px;
  }
  .form input {
    width: 300px;
  }
  .logo h1 {
    margin-left: 50px;
  }
}

@media (max-width: 460px) {
  .titulos :nth-child(2) {
    margin-left: 200px;
    }
    .logo h1 {
      margin-left: 0;
    }
}
